################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/MicroPascal/.vs/MicroPascal/v16
/MicroPascal/Debug
/MicroPascal/Release
/MicroPascal/.vs/MicroPascal/v16
