################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/MicroPascal/.vs/
/MicroPascal/Debug
/MicroPascal/Release
